body{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 239, 239);
}
.renthouse-panel{
    background-color: grey;
}    
    .content-panel{
        background-color: white;
    }
        
            
                